# NoteApp — Laravel Backend

APP_NAME=NoteApp
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

LOG_CHANNEL=stack

# ── Database ──
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=noteapp
DB_USERNAME=root
DB_PASSWORD=

# ── Sanctum (API Token Auth) ──
SANCTUM_STATEFUL_DOMAINS=localhost:5173

# ── CORS ──
CORS_ALLOWED_ORIGINS=http://localhost:5173

# ── Mail (Tiêu chí 2, 4: email kích hoạt + reset) ──
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=nguyentrongquoc11062006@gmail.com
MAIL_PASSWORD="myxn sfpx mfjw moyb"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@noteapp.com
MAIL_FROM_NAME="NoteApp"

# ── File Storage ──
FILESYSTEM_DISK=public
